.rate-bar {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  opacity: 0.5;
  transition: opacity 0.2s;
  margin-top: 4px;
  &:hover {
    opacity: 1;
  }
}

.rate-range {
  color: $grayscale_200;
  p {
    margin: 0;
    padding: 0;
    font-size: 4px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rate-slider {
  @include glassmorph-4;
  appearance: none;
  width: 100px;
  height: 0.3rem;
  border-radius: 5px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3); /* inner shadow */
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include glassmorph-3;
    width: 14px;
    height: 14px;
    border: 0;
    background: url("/public/icons/thumb.svg") no-repeat center;
    background-size: contain; 
    cursor: pointer;
  }
}
