.seek {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  padding-left: 0.75rem;
  // border: 0.05rem solid $grey-50;
  border-radius: 0.25rem;
}

.slider {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  width: 224px;
  height: 18px;
  appearance: none;
  border-radius: 3px;
  outline: none;
  opacity: 0.5;
  background: url("/public/icons/grid.svg") no-repeat;
  background-size: cover;
  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.2s;
  }
  &::-webkit-slider-thumb {
    // -webkit-appearance: none;
    // margin-top: 1.5px;
    // display: flex;
    opacity: 0.9;
    height: 48px;
    width: 18px;

    // border: 0;
    // background: url("/public/icons/anchor.svg") no-repeat;
    // background-size: cover;
    cursor: pointer;
  }
}
