/* styles.css */
@import "../../styles/variables.scss";

.knob {
  display: flex;
  align-self: center;
  margin-left: 1rem;
  margin-right: 0.25rem;
  background-color: black;
  @include glassmorph-5;
  border-radius: 2rem;
  canvas:active {
    cursor: none;
  }

  span {
    display: flex;
    align-self: center;
  }
}

.context-menu {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  z-index: 1000; // Ensure it is above other elements
}

.context-menu button {
  border-radius: 0;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
}
