
$grayscale_50: #fefeff;
$grayscale_100: #f1f5f9;
$grayscale_200: #e2e8f0;
$grayscale_300: #cbd5e1;
$grayscale_400: #94a3b8;
$grayscale_500: #64748b;
$grayscale_600: #475569;
$grayscale_700: #334155;
$grayscale_800: #1e293b;
$grayscale_900: #0f172a;
$grayscale_950: #020617;

$prim: #2f89ff;
$sec: #7df719;

@mixin glassmorph {
  background: rgba(151, 151, 151, 0.15);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5.75px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin glassmorph_dark {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin inset {
  background: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(0.05px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin glassmorph_deep {
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.05px);
  border: 1px solid rgba(0, 0, 0, 0.18);
}
