.wrapper {
  display: flex;
  align-items: start;
  height: 100vh;  
  justify-content: center;
  align-items: center;
  
  .full-control {
    
    
    
    
    
    @include glassmorph-1;
    padding: 0.5rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    
    // background-color: $grey-100;
    position: relative;
    // box-shadow: inset 0px 0px 4px 2px rgba(134, 133, 133, 0.1);
    
    .player {
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

  }
}

@media (max-width: 975px) {

  .wrapper {
    width: 100%;
    height: 100vh;
    align-items: center;

    .full-control {
      display: flex;
      flex-direction: column;
      padding: 0.75rem 1.5rem 1rem 1.5rem ;

      .player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
      }

    }
  }

  .tools {
      
    .more {
      padding: 0;
      justify-content: center;
      .icon {
        display: flex;
        margin: 0;
      }
    }
    
    .filter-section {
      display: flex;
      justify-content: left;
      align-items: start;
      left: 68px;

    }
  }

  .rate-container {
    padding: 0;
    margin: 0;
  }

  .seek-container {
    padding: 0;
    margin: 0;
    .slider {
      margin: 0;
    }
  }

  .volume {
    padding: 0;
  }

  .knob {
    display: none;
    margin: 0;
  }
}

@media (max-width: 525px) {

  .wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    
    .full-control {
      display: flex;
      flex-direction: column;
      padding: 2rem;
      margin: 0;

      .player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
      }

    }
  }

.tools {

  .more {
    .icon {
      
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: right;
    }
  }
}

.rate-container {
  padding: 0;
  margin: 0;
}
}