.wrapper {
  display: flex;
  align-items: start;
  height: 100vh;  
  justify-content: center;
  
  .full-control {
    
    
    
    
    
    margin-top: 51rem;
    @include glassmorph-1;
    padding: 0.5rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    
    // background-color: $grey-100;
    position: relative;
    // box-shadow: inset 0px 0px 4px 2px rgba(134, 133, 133, 0.1);
    
    .player {
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

  }
}

