.wrapper {
  display: flex;
  align-items: start;
  height: 100vh;  
  justify-content: center;
  
  .full-control {
    
    
    
    
    
    margin-top: 51rem;
    @include glassmorph-1;
    padding: 0.5rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    
    // background-color: $grey-100;
    position: relative;
    // box-shadow: inset 0px 0px 4px 2px rgba(134, 133, 133, 0.1);
    
    .player {
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }

  }
}

@media (max-width: 975px) {

  .wrapper {
    width: 100%;
    height: 100vh;

    .full-control {
      display: flex;
      flex-direction: column;

      .player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
      }

    }
  }

  .more {
    .icon {

      display: flex;
      width: 100px;
      padding: 0;
      margin: 0;
      background-color: red;
      justify-content: right;
    }
  }
}

@media (max-width: 525px) {

  .wrapper {
    
    .full-control {
      display: flex;
      flex-direction: column;

      .player {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;
      }

    }
  }

  .more {
    .icon {

      display: flex;
      width: 100px;
      padding: 0;
      margin: 0;
      background-color: red;
      justify-content: right;
    }
  }
}