html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

button {
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  &:hover {
    transition: 0.3s;
    background-color: rgba($grayscale_950, 0.35);
  }

  :nth-child(1) {
    &:hover {
      transition: 0.3s;
      cursor: pointer;
      color: $prim;
    }
  }
}
