@import "./App.scss";
@import "./styles/variables.scss";
@import "./components/AudioPlayer/styles.scss";

@import "./styles/main.scss";

@import "./components/AudioPlayer/player-styles/rateandseek.scss";
@import "./components/AudioPlayer/player-styles/line.scss";







.playlist {
    .playlist-item {

        &::-webkit-scrollbar-button {
            display: none;
            padding: 2rem;
            background-color: red;
        }
    }

    }